USE [master]
GO
/****** Object:  Database [BookListDatabase]    Script Date: 5/22/2020 8:10:20 PM ******/
CREATE DATABASE [BookListDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookListDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MARKET\MSSQL\DATA\BookListDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookListDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MARKET\MSSQL\DATA\BookListDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookListDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookListDatabase]
GO
/****** Object:  Table [dbo].[EventLog]    Script Date: 5/22/2020 8:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventLog](
	[EventCount] [int] NOT NULL,
	[LastEventRan] [varchar](200) NOT NULL,
	[LastEvent] [datetime] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_EventLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
